# User created files
public/uploads/photo

# Dependencies
npm-debug.log
node_modules

# Shitty files
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.swp
*.~

# Credentials
.env
!.env.dist
