<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="150 words">
        <meta name="author" content="uipasta">
        <meta name="url" content="http://www.yourdomainname.com">
        <meta name="copyright" content="company name">
        <meta name="robots" content="index,follow">
        <title>Basics - nobullshit API</title>
        <link rel="shortcut icon" href="img/favicon.ico">
    </head>
    <body>
        <h1>Basics - nobullshit API</h1>
    </body>
</html>